@use "../../../../../styles";

.navbar {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;

    li {
      a {
        text-decoration: none;
        color: styles.$text-color-primary;
        font-weight: bold;
        transition: color 0.3s;

        &:hover {
          color: styles.$color-hover;
        }
      }
    }
  }

  &.scrolled {
    ul {
      li {
        a {
          color: styles.$text-color-secondary;

          &:hover {
            color: styles.$color-hover;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    position: absolute;
    top: 79px;
    left: 0;
    background-color: transparent;
    backdrop-filter: blur(40px);
    width: 100%;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out;

    ul {
      flex-direction: column;
      gap: 10px;
      width: inherit;
    }

    &.open {
      max-height: 300px;
      opacity: 1;
    }

    &.scrolled {
      background: styles.$color-bg-white;
    }
  }
}
