<div class="container px-4 px-lg-5">
  <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0 rounded shadow-lg img-responsive"
        src="icons/benefits.webp" alt="..." /></div>
    <div class="col-xl-4 col-lg-5">
      <div class="featured-text text-lg-start">
        <h4 class="fw-bold">Servicio principal</h4>
        <p class="mb-0 lead">Quincho con pileta y espacio verde para poder disfrutar un lindo día junto a tus
          seres queridos.</p>
        <div class="mt-4">
          <ul class="list-unstyled">
            <li class="d-flex align-items-start">
              <span class="me-2">🔹</span> Asadores techados, cocina con horno, heladera, freezer y vajilla de vidrio.
            </li>
            <li class="d-flex align-items-start">
              <span class="me-2">🔹</span> Pileta de 8x4m + pileta pequeña de 2x2m.
            </li>
            <li class="d-flex align-items-center">
              <span class="me-2">🔹</span> Mesas, sillas, bancas
            </li>
            <li class="d-flex align-items-center">
              <span class="me-2">🔹</span> Manteles
            </li>
            <li class="d-flex align-items-center">
              <span class="me-2">🔹</span> Baños completos
            </li>
            <li class="d-flex align-items-center">
              <span class="me-2">🔹</span> Wifi
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
    <div class="col-lg-6"><img class="img-fluid" src="icons/benefits-1.webp" alt="..." />
    </div>
    <div class="col-lg-6">
      <div class="bg-dark text-white h-100 project">
        <div class="d-flex h-100">
          <div class="project-text w-100 my-auto text-lg-left">
            <h3 class="fw-bold mb-2">Servicios adicionales</h3>
            <p class="mb-2 d-flex align-items-start">
              <span class="me-2">🔹</span> Catering: Disfrutá de tu evento con tranquilidad, nosotros nos encargamos del
              resto.
            </p>
            <p class="mb-0 d-flex align-items-start">
              <span class="me-2">🔹</span> Contratos, presupuestos y asesoramientos personalizados.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row gx-0 justify-content-center">
    <div class="col-lg-6"><img class="img-fluid" src="icons/benefits-2.webp" alt="..." />
    </div>
    <div class="col-lg-6 order-lg-first">
      <div class="bg-dark text-white h-100 project">
        <div class="d-flex h-100">
          <div class="project-text w-100 my-auto text-lg-right">
            <h3 class="fw-bold mb-2">Servicios opcionales</h3>
            <p class="mb-0 d-flex align-items-start">
              <span class="me-2">🔹</span> Parrilleros.
            </p>
            <p class="mb-0 d-flex align-items-start">
              <span class="me-2">🔹</span> Barra móvil: tragos y bebidas con y sin alcohol.
            </p>
            <p class="mb-0 d-flex align-items-start">
              <span class="me-2">🔹</span> Bartender.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>