.header {
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
  padding: 15px 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;

  .container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
