 @use "../../../../styles";

.header {
  background-color: rgba(255, 255, 255, 0);
  padding: 15px 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;

  &.scrolled {
    background-color: styles.$color-bg-white;
    color: styles.$text-color-secondary;
  }

  .container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
