@use '../../../../styles.scss';

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
  color: styles.$text-color-primary;
  border-radius: 0.375rem;
  text-decoration: none;
  background: linear-gradient(styles.$color-primary, styles.$color-primary 50%, styles.$color-hover 50%, styles.$color-hover);
  background-size: 100% 200%;
  transition: background 0.5s;
}

.btn:hover {
  background-position: 100% 100%;
  cursor: pointer;
}
