@use "../../../../../styles";

.menu-button {
  border: none;
  font-size: 24px;
  cursor: pointer;
  display: none;
  color: styles.$text-color-primary;
  background: styles.$color-primary;
  border-radius: 4px;

  @media (max-width: 768px) {
    display: block;
  }
}
