<section class="py-5 position-relative text-white">
  <div class="overlay position-absolute top-0 start-0 w-100 h-100"></div>
  <div class="container position-relative">
    <div class="row align-items-center">
      <div class="col-lg-6 text-center text-lg-start mb-4 mb-lg-0">
        <h2 class="mb-4 fw-bold">{{ title }}</h2>
        <p class="lead">{{ description }}</p>
        <div class="mb-4">
          <h3 class="h5 fw-semibold">Detalles del espacio</h3>
          <ul class="list-unstyled">
            @for (detail of details; track $index) {
            <li class="d-flex align-items-center">
              <i class="bi {{ detail.icon }} me-2"></i>
              <span [innerHTML]="detail.texto"></span>
            </li>
            }
          </ul>
          <p class="fst-italic text-light small">{{ note }}</p>
        </div>
        <a [href]="urlWhatsApp" target="_blank" class="btn btn-success btn-lg fw-semibold">
          {{ btnText }}
        </a>
      </div>
      <div class="col-lg-6 text-center">
        <img [src]="imgSrc" class="img-fluid rounded shadow-lg img-responsive" [alt]="imgAlt">
      </div>
    </div>
  </div>
</section>
