@use "../../../../styles.scss";

.social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: styles.$color-bg-white;
  border-radius: 100%;
  line-height: 3rem;
  color: styles.$color-primary;
}
.social a:hover {
  background: styles.$color-hover;
  color: styles.$color-bg-white;
}
