<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-4 mb-3 mb-md-0">
      <div class="card py-4 h-100">
        <div class="card-body text-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-map-pins">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M10.828 9.828a4 4 0 1 0 -5.656 0l2.828 2.829l2.828 -2.829z" />
            <path d="M8 7l0 .01" />
            <path d="M18.828 17.828a4 4 0 1 0 -5.656 0l2.828 2.829l2.828 -2.829z" />
            <path d="M16 15l0 .01" />
          </svg>
          <h4 class="text-uppercase m-0 py-2">{{directionTitle}}</h4>
          <hr class="my-4 mx-auto" />
          <div class="small">{{direction}}</div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3 mb-md-0">
      <div class="card py-4 h-100">
        <div class="card-body text-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-phone">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
          </svg>
          <h4 class="text-uppercase m-0 py-2">{{phone}}</h4>
          <hr class="my-4 mx-auto" />
          <div class="small text-black">{{phone1}}</div>
          <div class="small text-black">{{phone2}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <app-social></app-social>
  </div>
</div>
