/* You can add global styles to this file, and also import other style files */

$color-primary: #198754;
$color-hover: #157347;
$color-bg-black: #000;
$color-bg-white: #fff;

$text-color-primary: #fff;
$text-color-secondary: #000;

body {
  display: block;
  margin: 0;
  font-family:'Times New Roman', Times, serif !important;
}
